<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>requestFactoryServlet</servlet-name>
		<servlet-class>com.zenika.addressbook.gwt.server.AddressBookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestFactoryServlet</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>AddressBook.html</welcome-file>
	</welcome-file-list>
		
</web-app>